
1. Store 3.5 in a variable called `my_float` and store 2 in a variable called `my_int`. Store the sum of `my_float` and `my_int` in the `total_value` variable. (2 points)

In [1]:
my_float = 3.5
my_int = 2
total_value = my_float + my_int
print("total value:", total_value)

total value: 5.5

2. Write a Python function that takes a string as input and returns the number of characters in the string. (3 points)

In [4]:
def count_characters(input_string):
    return len(input_string)
input_string = "Hi Mom, hope you're well!"
print("Number of characters:", count_characters(input_string))

Number of characters: 25

3. Create a list of your five favorite books in Python. Write Python code to print the first and last book in the list. (3 points)

In [6]:
favorite_books = ["Wuthering Heights", "Normal People", "Conversations with Friends", "My Year of Rest and Relaxation", "The Color Purple"]
print("First book:", favorite_books[0])
print("Last book:", favorite_books[-1])

First book: Wuthering Heights
Last book: The Color Purple

4. Create a dictionary where the keys are the names of three different countries and the values are their respective capitals. (3 points)

In [13]:
country_capitals = {
    "Cuba": "Havana",
    "Brazil": "Brasilia",
    "Afghanistan": "Kabul"
}
country_capitals["Afghanistan"]
country_capitals["Brazil"]
country_capitals["Cuba"]

'Havana'



5. Create a set of numbers from the following numbers using Python: 1, 2, 4, 2, 5, 1. (3 points)

In [16]:
given_numbers = [1,2,4,2,5,1]
numbers_set = set(given_numbers)
print(numbers_set)

{1, 2, 4, 5}

6. Create a list of the first six whole numbers i.e. (0, 1, 2, 3, 4, 5). Then use a `for` loop to iterate through each number and print twice that number. Your output should be 0, 2, 4, 6, 8, 10. (3 points)

In [19]:
whole_numbers = [0,1,2,3,4,5]
for number in whole_numbers:
    print(number * 2)

0
2
4
6
8
10

7. You are provided with a dataframe called `df` below. Write Python code to return a subset of the DataFrame where the `Favorite Food` is `Momo`. Include only `Name`, `Favorite Food` and `City` columns in your output.(3 points)

In [22]:
import pandas as pd

data = {
    'Name': ['Prashant', 'Sirak', 'Kirtika', 'Sushrey', 'Rupesh'],
    'Favorite Food': ['Chataamari', 'Momo', 'Pizza', 'Injera', 'Momo'],
    'Favorite Number': [28, 26, 24, 30, 26],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'San Francisco']
}

df = pd.DataFrame(data)
df

       Name Favorite Food  Favorite Number           City
0  Prashant    Chataamari               28       New York
1     Sirak          Momo               26    Los Angeles
2   Kirtika         Pizza               24       New York
3   Sushrey        Injera               30        Chicago
4    Rupesh          Momo               26  San Francisco

In [23]:
subset_df = df[df['Favorite Food'] == 'Momo'][['Name', 'Favorite Food', 'City']]
print(subset_df)

     Name Favorite Food           City
1   Sirak          Momo    Los Angeles
4  Rupesh          Momo  San Francisco

8. Write a Python function that takes two parameters - `text` and `search_word`. It should return the number of times `search_word` appears in the text. Your search should not be case-sensitive. For example, if your text is "It was the best of times. It was the worst of times." and your `search_word` is 'it', your function should return 2. (5 points)

In [35]:
def count_occurrences(text, search_word):
    text_lower = text.lower()
    search_word_lower = search_word.lower()
    return text_lower.count(search_word_lower)
text = "The clown is chasing around ducks in the park while the doves screach in the distance."
search_word = "the"
result = count_occurrences(text, search_word)
print(result)

4

9. Lemmatize the words in the sentence "The striped bats are hanging on their feet for best" and print the lemmas. (5 points)

In [37]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

nltk.download('punkt')
nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

sentence = "The striped bats are hanging on their feet for best"

words = word_tokenize(sentence)

lemmas = [lemmatizer.lemmatize(word) for word in words]
print(lemmas)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/tatianasanchez/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/tatianasanchez/nltk_data...

['The', 'striped', 'bat', 'are', 'hanging', 'on', 'their', 'foot', 'for', 'best']



10. Write a Python function that takes a string (`text`) as input. The function should lowercase the string, remove punctuation, tokenize, lemmatize, and remove stopwords. The function should return the lemmas present in the string. The returned lemmas should not contain any stopwords. (10 points)

In [46]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/tatianasanchez/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [47]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string
def preprocess_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('','', string.punctuation))
    tokens = word_tokenize(text)
    lemmatizer = WordNetLemmatizer()
    lemmas = [lemmatizer.lemmatize(token) for token in tokens if token not in stopwords.words('english')]
    return lemmas
text = "Cats and dogs get along if the sun is blaring or the wind too sharp."
lemmas = preprocess_text(text)
print(lemmas)

['cat', 'dog', 'get', 'along', 'sun', 'blaring', 'wind', 'sharp']